# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [15]:
# Your code here

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

df = pd.read_csv(url)
#df.head()

# Dimensions of the dataset: number of rows & columns

print("Shape: ", df.shape)
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

# Data Types of each column 
print("\nColumn Data types: ", df.dtypes)

#  number of unique values for each column
print("\nUnique values per column: ", df.nunique())

# Identify categorical vs numerical
numeric_cols = df.select_dtypes(include = "number").columns.tolist()
categorical_cols = df.select_dtypes(exclude = "number").columns.tolist()
print("\nNumerical Columns: ", numeric_cols)
print("\nCategorical Columns: ", categorical_cols)

# Summary Statistics
print("\nNumeric Summary: ", df[numeric_cols].describe())

print("\nMedian Value: ", df[numeric_cols].median())
print("\nMean Value: ", df[numeric_cols].mean())
print("\nMode Value: ", df[numeric_cols].mode().iloc[0])
print("\nStandard Deviation Value: ", df[numeric_cols].std())

# summary statistics for categorical columns 
if categorical_cols:
    print("\nCategorical column Summary: ")
    print(df[categorical_cols].describe(include = "object"))
    for col in categorical_cols:
        print(f"Value counts for {col}: ")
        print(df[col].value_counts(dropna=False))

Shape:  (4008, 11)
Number of rows:  4008
Number of columns:  11

Column Data types:  Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Unique values per column:  Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

Numerical Columns:  ['Income', 'Monthly Premium Auto', 'Total Claim Amount']

Categorical Columns:  ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']

Numeric Summary:               Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Median Value:  Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64

Mean Value:  Income                  39295.701214
Monthly Premium Auto      193.234360
Total Claim Amount        404.986909
dtype: float64

Mode Value:  Income                    0.0
Monthly Premium Auto     65.0
Total Claim Amount      321.6
Name: 0, dtype: float64

Standard Deviation Value:  Income                  30469.427060
Monthly Premium Auto     1601.190369
Total Claim Amount        293.027260
dtype: float64

Categorical column Summary:
       Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     MY31220  Oregon      F  Bachelor              251459.20%
freq          1     320    457       324                       4

       Number of Open Complaints    Policy Type  Vehicle Class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576
Value counts for Customer:
Customer
NaN        2937
PI47776       1
MD73554       1
UX92071       1
YG44474       1
           ...
CZ96653       1
FB23788       1
NT43594       1
RJ85627       1
KJ86296       1
Name: count, Length: 1072, dtype: int64
Value counts for ST:
ST
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64
Value counts for GENDER:
GENDER
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64
Value counts for Education:
Education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64
Value counts for Customer Lifetime Value:
Customer Lifetime Value
NaN           2940
445811.34%       4
251459.20%       4
477294.38%       3
272535.64%       3
              ...
251753.36%       1
532667.77%       1
260027.21%       1
853479.28%       1
899704.02%       1
Name: count, Length: 1028, dtype: int64
Value counts for Number of Open Complaints:
Number of Open Complaints
NaN       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: count, dtype: int64
Value counts for Policy Type:
Policy Type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64
Value counts for Vehicle Class:
Vehicle Class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [17]:
# Your code here

location_count = df["ST"].value_counts()
least_common_5 = location_count.sort_values(ascending=True).head()
least_common_5

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [18]:
# Your code here

policy_type_count = df["Policy Type"].value_counts()
top_policy_type = policy_type_count.idxmax()
top_policy_count = policy_type_count.max()

print(policy_type_count)
print("\nPolicy with highest number of policies sold: ", top_policy_type)
print("\nTotal policies sold: ", top_policy_count)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy with highest number of policies sold:  Personal Auto

Total policies sold:  780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [25]:
# Your code here

df['Income'] = pd.to_numeric(df['Income'], errors = 'coerce')

# create 2 dataframes
personal_auto_policies = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_policies = df.loc[df['Policy Type'] == 'Corporate Auto']

# calculate average income
avg_personal_income = personal_auto_policies['Income'].mean()
avg_corporate_income = corporate_auto_policies['Income'].mean()

print("Average income for personal auto customers: ", round(avg_personal_income, 2))
print("Average income for corporate auto customers: ", round(avg_corporate_income, 2))

Average income for personal auto customers:  38180.7
Average income for corporate auto customers:  41390.31

### Bonus: Exercise 4

##### Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [28]:
# Your code here

df['Total Claim Amount'] = pd.to_numeric(df['Total Claim Amount'], errors = 'coerce')

# calculate the 75th percentile
calculate_75 = df['Total Claim Amount'].quantile(0.75)
print("75th percentile of Total Claim amount: ", calculate_75)

# create a dataframe with high claim customers 
high_claims = df.loc[df['Total Claim Amount'] > calculate_75]
print("\n", high_claims.head())

# Summary statistics for high claim customers
summary_stats = high_claims.describe()
print("\nSummary Statistics for high claim amount customers: ", summary_stats)

75th percentile of Total Claim amount:  532.8

    Customer          ST GENDER Education Customer Lifetime Value   Income  \
1   QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2   AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17  OE15005        Cali    NaN   College              394524.16%  28855.0
23  TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26  US89481  California    NaN  Bachelor              394637.21%      0.0

    Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                   94.0                    1/0/00   Personal Auto
2                  108.0                    1/0/00   Personal Auto
17                 101.0                    1/0/00   Personal Auto
23                  73.0                    1/3/00  Corporate Auto
26                 111.0                    1/0/00   Personal Auto

    Vehicle Class  Total Claim Amount
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
17            SUV          647.442031
23  Four-Door Car          554.376763
26  Four-Door Car          799.200000

Summary Statistics for high claim amount customers:               Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678